# macOS
.DS_Store

# Éditeurs
*.swp
*.swo

# Variables d'environnement
.env
.env.local

# Node.js
node_modules/

# Python
__pycache__/
*.pyc
.venv/
venv/

# Build
dist/
build/

# Couverture de tests
coverage/
.coverage

# Logs
*.log

# Docker
*.tar
.docker/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl